// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

.contentPage {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1.25rem; //20px;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  color: $primary-font;
}

body {
  background-color: #feebfc;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 1.875rem /* 30px */;
  line-height: 2.25rem /* 36px */;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem /* 24px */;
  line-height: 2rem /* 32px */;
  font-weight: 700;
}

h3 {
  font-size: 1.25rem /* 20px */;
  line-height: 1.75rem /* 28px */;
  font-weight: 700;
}

h4 {
  font-size: 1.125rem /* 18px */;
  line-height: 1.75rem /* 28px */;
  font-weight: 600;
}

/* buttons */
button,
.btn {
  background: #fe3558;

  border: 2px solid;
  padding: 5px;

  font-size: 1rem;
  box-shadow: 2px 2px 0px 0px #000000;
}

button:hover,
.btn:hover {
  background: rgba(0, 0, 0, 0.164);
  // color: rgba(0, 0, 0, 0.164);
}

button:disabled {
  opacity: 0.5;
  color: $primary;
  background: $secondary;
  cursor: not-allowed;
}

/* forms */
form {
  max-width: 25rem; //400px;
  margin: 0 auto;
  padding: 2rem; //32px;
  border-radius: 0.5rem; //8px;
  box-shadow: 1px 2px 3px rgba(50, 50, 50, 0.05);
  border: 1px solid $secondary;
  background: white;
}

input,
textarea {
  border: 0;
  border-bottom: 1px solid $secondary;
  padding: 0.75rem; //12px
  outline: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 1.25rem auto; //20px auto
}

/* error text */
.error {
  color: $warning;
  font-size: 0.875rem; //14px;
  margin: 1rem 0; // 16px 0;
}
