// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

.contentPage {
  margin: 0 auto;
  max-width: 72rem;
  padding: 0 1.25rem; //20px;
}

.q-position-engine {
  margin-top: 0.25rem !important;
  margin-left: -0.4rem !important;
  will-change: auto;
  visibility: collapse;
}

.page-mask {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 168px;
  right: 0;
  bottom: 0;
  left: 0;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: #f1f1f1;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 1.875rem /* 30px */;
  line-height: 2.25rem /* 36px */;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem /* 24px */;
  line-height: 2rem /* 32px */;
  font-weight: 700;
}

h3 {
  font-size: 1.25rem /* 20px */;
  line-height: 1.75rem /* 28px */;
  font-weight: 700;
}

h4 {
  font-size: 1.125rem /* 18px */;
  line-height: 1.75rem /* 28px */;
  font-weight: 600;
}

/* buttons */
.btn-add-remove {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  font-size: 1rem;

  padding: 4px;

  border: 2px solid $black;
  box-shadow: 2px 2px 0px 0px $black;
}

/* error text */
.error {
  color: $warning;
  font-size: 0.875rem; //14px;
  margin: 1rem 0; // 16px 0;
}
